/* Importing the other css files for different sections */
@import url('./mobile-nav.css');
@import url('./navbar.css');
@import url('./header.css');
@import url('./features.css');
@import url('./downloads.css');
@import url('./faqs.css');
@import url('./footer.css');

/* the media queries */
@import url('./media-queries.css');
/* do not change it's position below the other css files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* colors */
	--clr-white: hsl(360, 100%, 100%);
	--clr-primary-blue: hsl(231, 69%, 60%);
	--clr-primary-red: hsl(0, 94%, 66%);
	--clr-grayish-blue: hsl(229, 8%, 60%);
	--clr-dark-blue: hsl(229, 31%, 21%);

	/* typography */
	--ff-general: 'Rubik', sans-serif;

	--fs-large: calc(15px + 2vw);
	--fs-big: 24px;
	--fs-small: calc(10px + 0.4vw);
	--fs-tiny: calc(12px + 0.3vw);
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* default styles */
body * {
	font-family: var(--ff-general);
	text-decoration: none;
}

body img {
	user-select: none;
}

.btn {
	padding: 8px 15px;
	background: var(--clr-primary-blue);
	border-radius: 3px;
	font-size: var(--fs-tiny);
	font-weight: 500;
	display: inline-block;
	margin-right: 5px;
}

.btn-blue {
	color: var(--clr-white);
	background: var(--clr-primary-blue);
	box-shadow: 0 2px 5px hsl(229, 8%, 90%);
	transition: 0.1s;
}

.btn-blue:hover {
	color: var(--clr-primary-blue);
	background: var(--clr-white);
	outline: 3px solid var(--clr-primary-blue);
}

.btn-gray {
	color: var(--clr-dark-blue);
	background: hsl(229, 8%, 90%);
	box-shadow: 0 2px 5px var(--clr-grayish-blue);
}

.btn-gray:hover {
	color: var(--clr-dark-blue);
	background: var(--clr-white);
	outline: 3px solid var(--clr-dark-blue);
}

.mobile-navbar {
	display: none;
}

/* attriibution */
.attribution {
	padding-block: 15px;
	font-size: var(--fs-tiny);
	text-align: center;
	background: var(--clr-dark-blue);
	color: var(--clr-white);
	letter-spacing: 1px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
