.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer .contact {
	width: 100%;
	padding-block: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--clr-primary-blue);
}

.footer .contact small {
	font-size: var(--fs-tiny);
	color: var(--clr-white);
	text-transform: uppercase;
	font-family: monospace;
}

.footer .contact h2 {
	font-size: var(--fs-big);
	font-weight: 500;
	margin-block: 30px;
	color: var(--clr-white);
	text-align: center;
	line-height: 35px;
	letter-spacing: 1.5px;
}

.footer .contact form {
	min-width: 390px;
	max-width: 410px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .email-input {
	width: 250px;
	height: 40px;
	border-radius: 3px;
	background: var(--clr-white);
	padding-left: 20px;
}

.contact form .email-input::placeholder {
	color: var(--clr-grayish-blue);
	font-size: var(--fs-tiny);
}

.contact form .submit-btn {
	border: none;
	cursor: pointer;
	color: var(--clr-white);
	background: var(--clr-primary-red);
	box-shadow: 0 2px 5px var(--clr-dark-blue);
	transition: 0.1s;
}

.contact form .submit-btn:hover {
	outline: 3px solid var(--clr-primary-red);
	color: var(--clr-primary-red);
	background: var(--clr-white);
}

.footer .footer-nav {
	background: var(--clr-dark-blue);
}

.footer-nav ul li a {
	color: var(--clr-grayish-blue) !important;
}

.footer-nav ul li a:hover {
	color: var(--clr-primary-red) !important;
}

.footer-nav .social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.social-icons .icon:hover svg path {
	fill: var(--clr-primary-red);
}
