.header {
	width: 100%;
	padding: 70px 10vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header article {
	min-width: 400px;
}

.header article h1 {
	font-weight: 600;
	font-size: var(--fs-large);
	text-transform: capitalize;
	color: var(--clr-dark-blue);
}

.header article p {
	max-width: 80%;
	font-size: var(--fs-tiny);
	margin: 20px 0 30px 0;
	font-weight: 400;
	color: var(--clr-grayish-blue);
}

.header img {
	min-width: 350px;
	max-width: 600px;
}

/* styling the rounded blue background */
.header::after {
	content: '';
	position: absolute;
	width: 30%;
	height: calc(70px + 15vw);
	background: var(--clr-primary-blue);
	border-radius: 200px 0 0 200px;
	bottom: 0;
	right: 0;
	z-index: -1;
}
